<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.partion.investment.mapper.InvestmentMapper">

    <insert id="insert" parameterType="com.partion.investment.domain.Investment"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO investments (
        member_id,
        product_id,
        quantity,
        price_per_token,
        total_amount
        )
        VALUES (
        #{memberId},
        #{productId},
        #{quantity},
        #{pricePerToken},
        #{totalAmount}
        )
    </insert>

</mapper>