<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.partion.order.mapper.OrderMapper">

    <insert id="insert" parameterType="com.partion.order.domain.Order"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO orders (
        member_id,
        product_id,
        type,
        order_method,
        price,
        quantity,
        remaining_quantity,
        status
        )
        VALUES (
        #{memberId},
        #{productId},
        #{type},
        #{orderMethod},
        #{price},
        #{quantity},
        #{remainingQuantity},
        #{status}
        )
    </insert>

</mapper>