<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.partion.member.mapper.MemberMapper">

    <select id="existsByEmail" parameterType="string" resultType="boolean">
        SELECT EXISTS (
        SELECT 1
        FROM members
        WHERE email = #{email}
        )
    </select>

    <select id="existsByNickname" parameterType="string" resultType="boolean">
        SELECT EXISTS (
        SELECT 1
        FROM members
        WHERE nickname = #{nickname}
        )
    </select>

    <insert id="insert" parameterType="com.partion.member.domain.Member"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO members (
        email,
        password,
        nickname,
        provider,
        provider_id,
        role
        )
        VALUES (
        #{email},
        #{password},
        #{nickname},
        #{provider},
        #{providerId},
        #{role}
        )
    </insert>

    <select id="findByEmail" parameterType="string" resultType="com.partion.member.domain.Member">
        SELECT
        id,
        email,
        password,
        nickname,
        provider,
        provider_id,
        role,
        created_at,
        updated_at
        FROM members
        WHERE email = #{email}
    </select>

    <select id="findById" parameterType="long" resultType="com.partion.member.domain.Member">
        SELECT
        id,
        email,
        password,
        nickname,
        provider,
        provider_id,
        role,
        created_at,
        updated_at
        FROM members
        WHERE id = #{id}
    </select>

    <update id="updateNickname">
        UPDATE members
        SET
        nickname = #{nickname}
        WHERE id = #{id}
    </update>

    <update id="updatePassword">
        UPDATE members
        SET
        password = #{password}
        WHERE id = #{id}
    </update>

</mapper>