<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.partion.board.mapper.BoardMapper">

    <insert id="insert" parameterType="com.partion.board.domain.Board"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO boards (
        member_id,
        category,
        title,
        content
        )
        VALUES (
        #{memberId},
        #{category},
        #{title},
        #{content}
        )
    </insert>

    <select id="findAll" resultType="com.partion.board.domain.Board">
        SELECT
        b.id,
        b.member_id,
        m.nickname AS writer_nickname,
        b.category,
        b.title,
        b.content,
        b.created_at,
        b.updated_at
        FROM boards b
        LEFT JOIN members m ON m.id = b.member_id
        <where>
            <if test="category != null and category != ''">
                AND b.category = #{category}
            </if>
        </where>
        ORDER BY b.created_at DESC, b.id DESC
        LIMIT #{limit}
        OFFSET #{offset}
    </select>

    <select id="countAll" resultType="long">
        SELECT COUNT(*)
        FROM boards
        <where>
            <if test="category != null and category != ''">
                AND category = #{category}
            </if>
        </where>
    </select>

    <select id="findById" resultType="com.partion.board.domain.Board">
        SELECT
        b.id,
        b.member_id,
        m.nickname AS writer_nickname,
        b.category,
        b.title,
        b.content,
        b.created_at,
        b.updated_at
        FROM boards b
        LEFT JOIN members m ON m.id = b.member_id
        WHERE b.id = #{id}
    </select>

    <update id="update" parameterType="com.partion.board.domain.Board">
        UPDATE boards
        SET
        category = #{category},
        title = #{title},
        content = #{content}
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM boards
        WHERE id = #{id}
    </delete>

</mapper>
